---
const {name, github, live, description, tech} = Astro.props;

const techString = tech.join(" | ");
---

<li class="flex max-w-lg flex-col gap-4 rounded-sm p-4 border-l-4 border-yellow-500 hover:shadow-lg hover:bg-yellow-100">
  <div>
    <h3 class="text-grey-700 text-2xl font-bold">{name}</h3>
    <span class="flex text-xs">
      <a class="bg-cyan-400 text-cyan-900 rounded-md px-2 hover:shadow-lg" href={github}>Github</a>
      <p class="mx-1 text-grey-400">|</p>
      <a class="bg-cyan-400 text-cyan-900 rounded-md px-2 hover:shadow-lg"  href={live}>Live</a>
    </span>
  </div>
  <div class="text-grey-400 text-lg">
    {description}
  </div>
  <div class="text-grey-400 text-xs">
    {techString}
  </div>
</li>